@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600;800;900&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 position: relative;
 height: 100%;
 overflow-x: hidden;
 scroll-behavior: smooth;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-thumb {
background: linear-gradient(transparent, #EAA920);
border-radius: 40px;
}

body {
 background: #eee;
 font-family: 'Roboto Slab', serif;
 font-size: 14px;
 color: #000;
 margin: 0;
 padding: 0;
}

/* Inicio Footer */
.container-footer{
 color: #eee;
 width: 100%;
 background-color: #0C0C0C;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 450px;
 background-image: url("../../public/media/img/city.png");
 background-repeat: no-repeat;
 background-position: bottom;
}
.footer-top{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
.footer-top section{
 height: 200px;
 width: 300px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

}

.footer-top section h2{
 cursor: pointer;
 font-size: 1.5rem;
 padding: 3rem;
 color: #eee;
}
.footer-top section .one::before{
    display: block;
    content: "";
    transform: translateX(40%);
    height: 4px;
    width: 80px;
    border-radius: 2px;
    background-color: #EAA920;
}
.footer-top section .two::before{
    display: block;
    content: "";
    transform: translateX(20%);
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: #EAA920;
}
.footer-top section .three::before{
    display: block;
    content: "";
    transform: translateX(40%);
    height: 4px;
    width: 80px;
    border-radius: 2px;
    background-color: #EAA920;
}
.footer-top section ul{
 cursor: pointer;
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.footer-top section ul a{
 color: #eee;
}
.footer-top section ul i{
 font-size: 2.2rem;
 margin: 0 2rem;
 transition: all 0.5s linear;
}
.footer-top section ul i:hover{
 color: #EAA920;
}
.footer-bot{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 padding: 1rem;
}
.footer-bot section a{
 text-decoration: none;
 color: #EAA920;
}
/* Fin Footer */