.swiper-container {
 width: 100%;
 height: 100%;
}

.swiper-slide {
 text-align: center;
 font-size: 18px;
 background: #fff;
 display: -webkit-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 -webkit-justify-content: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 -webkit-align-items: center;
 align-items: center;
}

.sections {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.seg1,
.seg2,
.seg3,
.seg4 {
 width: 100%;
 height: 100vh;
 padding: 0 80px;
 cursor: pointer;
}

.section_container {
 width: 1170px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.seg1 {
 background-color: #1C1C1C;
}

.seg2 {
 background-color: #eee;
}

.seg3 {
 background-color: #d3d3d3;
}

.seg4{
 background-color: #000;
}


.image {
height: 300px;
 width: 600px;
}

.image > img {
 width: 100%;
}

.text {
 width: 350px;
 font-family: 'M PLUS Rounded 1c', sans-serif;
 text-align: left;

}

.text > .title {
 font-size: 82px; 
 font-weight: 100;
 margin-bottom: 50px;
}

.seg1 > .section_container > .text {
 color: #fff;
}

.text > .description {
 font-size: 18px;
 font-weight: 100;
}

.seg2 > .section_container > .image {
 order: 2;
 width: 600px;
}

.seg2 > .text {
 color: #000;
}

.seg4 > .section_container > .text > .title {
 font-size: 45px;
}

.seg4 > .section_container > .text {
 color: #fff;
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, 
.swiper-container-vertical>.swiper-pagination-progressbar {
 position: absolute;
 left: 95%;
 top: 25%;
 height: 50%;
}
/* fin swiper */

.nav-container-home{
 padding: .4rem;
 background-color: #1C1C1C;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 1rem;
 font-weight: 700;
}
.nav-container-home ul{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
width: 50%;
}
.nav-container-home i{
color: #EAA920;
font-size: 3rem;
padding: 2rem;
}
.nav-container-home ul li a{
color: #fff;
text-decoration: none;
padding: 1rem;
transition: all 0.5s linear;
}
.nav-container-home .active{
color: #EAA920;
}
.nav-container-home ul li a:hover{
color: #EAA920;
}
.burger{
display: none;
}
.links-home{
 position: initial;
}

@media (max-width: 768px){
  .burger{ 
  display: block;
  }
  .nav-container-home ul{
   position: absolute;
   top: -700px; 
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }
  .nav-container-home ul li {
   padding: 5rem;
  }
  .links-home.activee{
   width: 100%;
   height: 100vh;
   display: block;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   /* top: 0; */
   bottom: 90%;
   z-index: 1;
   left: 0;
   right: 0;
   align-items: center;
   background-color: #333;
}
 }
/* fin navbar */

/* inicio icons  */

.container-icons{
 width: 100%;
}
.container-icons div{
 height: 250px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container-icons div i{
 font-size: 4rem;
 padding: 0 4rem;
 color: #1C1C1C;
 transition: all 1s linear;
}
.container-icons div i:hover{
 transform: scale(1.2);
 color: #EAA920;
}

.container-icons article{
 width: 300px;
 letter-spacing: 0.5px;
}

/* fin icons */

/* title home */

.title-home{
 width: 100%;
 height: 400px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-image: url("https://www.construyehogar.com/wp-content/uploads/2016/01/Casa-moderna-un-piso.jpg");
 background-position: top;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 margin: 3rem 0;
 cursor: pointer;
}
.title-home h2{
 font-size: 1.5rem;
 color: #EAA920;
 cursor: pointer;
}
.title-home h1{
 font-size: 3rem;
 color: #eee;
 cursor: pointer;
}
/* fin title home */